.aboutSection {
  position: absolute;
  color: $font-color;
  opacity: 1;
  transition: $animation-time-interval;

  @include scrollAnimations;

  &__sithImage {
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -1;
  }

  &__motto {
    position: relative;
    font-size: $font-medium;
    font-weight: 900;

    .span {
      // decoration above "in"
      &--in {
        &::after {
          content: "";
          position: absolute;
          top: 62px;
          left: 228px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          background-color: $blue-color;
        }
      }

      // dot decoration in the sentence end
      &--dot {
        color: transparent;

        &::after {
          content: "";
          position: absolute;
          top: 246px;
          left: 210px;
          width: 9px;
          height: 9px;
          background-color: $blue-color;
        }
      }
    }

    //rotated square decoration
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 290px;
      width: $decoration-size;
      height: $decoration-size;
      transform: rotate(45deg);
      background-color: $blue-color;
    }

    //rotated triangle decoration
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 160px;
      width: 0px;
      height: 0px;
      border-right: $decoration-size solid $blue-color;
      border-left: 0;
      border-bottom: $decoration-size solid transparent;
      border-top: $decoration-size solid transparent;
      transform: rotate(20deg);
    }
  }
}

.careerButton {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-size: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color;
  word-spacing: 5px;

  &__arrow {
    height: 12px;
    padding-left: 5px;
    transition: 0.2s;
  }

  &:hover {
    & img {
      transform: translateX(5px);
    }
  }
}

.aboutButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10px;
  grid-template-areas:
    "pic1 pic2 pic3"
    "pic1Title pic2Title pic3Title";
  text-transform: uppercase;

  & * {
    cursor: pointer;
  }

  &__pic1 {
    grid-area: pic1;
  }
  &__pic1Title {
    grid-area: pic1Title;
  }

  &__pic2 {
    grid-area: pic2;
  }
  &__pic2Title {
    grid-area: pic2Title;
  }

  &__pic3 {
    grid-area: pic3;
  }

  &__pic3Title {
    grid-area: pic3Title;
  }
}

.aboutButtonImg {
  &:hover + .aboutButtonTitle {
    transform: translate(20px, 0px);
  }
}

.aboutButtonTitle {
  transform: translate(20px, -10px);
  transition: 0.2s;

  &:hover {
    transform: translate(20px, 0px);
  }
}

@media (max-width: $breakpoint-width-2) {
  .aboutSection {
    &__motto {
      font-size: $font-small;

      & .span {
        &--in {
          &::after {
            top: 52px;
            left: 182px;
            width: 20px;
            height: 20px;
          }
        }

        &--dot {
          &::after {
            top: 198px;
            left: 168px;
            width: 9px;
            height: 9px;
          }
        }
      }
    }

    &__sithImage {
      transform: scale(80%);
    }
  }
}

@media (max-width: $breakpoint-width-3) {
  .aboutSection {
    &__sithImage {
      display: none;
    }

    &__motto {
      font-size: $font-medium;

      & .span {
        &--in {
          &::after {
            top: 62px;
            left: 228px;
            width: 26px;
            height: 26px;
          }
        }

        &--dot {
          &::after {
            top: 246px;
            left: 210px;
            width: 9px;
            height: 9px;
          }
        }
      }
    }
  }

  .aboutButtons {
    display: none;
  }
}
