@mixin blueButtonMixin {
  font-weight: 900;
  background-color: $blue-color;
  color: $font-color;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 6px 18px;
}

@keyframes fadeScrollUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
