.contactSection {
  position: relative;
  // background-color: rgb(75, 21, 21);

  &__mapImage {
    position: absolute;
    top: -20vh;
    left: -20vw;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
  }

  &__contactInfo {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.contactInfo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  box-shadow: 0px 0px 20px $color-background;

  & p {
    margin: 10px;
  }

  ul {
    list-style: none;
    text-decoration: none;
  }
  li {
    background-color: $blue-color;
    margin-bottom: 20px;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      border: 2px solid $color-background;
    }
  }

  .contactButton {
    text-align: center;

    &--lightBlue {
      background-color: $light-blue-color;
    }

    &--pink {
      background-color: $pink-color;
    }
    &--blue {
    }
  }
}
