.contactSection {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  transition: 0.5s;

  &--scrolledUp {
    opacity: 0;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/krakow\ map.png");
    background-size: cover;
    background-position: center;
  }

  &__contactInfo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.contactInfo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  box-shadow: 0px 0px 20px $color-background;

  & p {
    margin: 10px;
  }

  ul {
    list-style: none;
    text-decoration: none;
  }

  li {
    background-color: $blue-color;
    margin-bottom: 20px;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      border: 2px solid $color-background;
    }
  }

  .contactButton {
    text-align: center;

    &--lightBlue {
      background-color: $light-blue-color;
    }

    &--pink {
      background-color: $pink-color;
    }
  }
}
