.hireUsSection {
  position: absolute;
  opacity: 1;
  transition: $animation-time-interval;

  @include scrollAnimations;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.hireUsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 100px 100px;
  grid-template-areas:
    "a a"
    "b c"
    "d d";

  &__taskList {
    grid-area: a;
    // grid-area: 1 / 1 / 2 / 3;
    // background-color: rgb(160, 94, 94);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 50px;
  }

  &__textInputWrapper1 {
    grid-area: b;
  }
  &__textInputWrapper2 {
    grid-area: c;
  }

  &__sendRequestButton {
    grid-area: d;
    // grid-area: 3 / 1 / 4 / 3;
    display: block;
    margin: auto;
    // background-color: rgb(100, 15, 36);
  }
}

.sendRequestButton {
  @include blueButtonMixin;
}

.taskWrapper {
  position: relative;
  width: 200px;
  height: 50px;
  box-sizing: content-box; // in purpose to make wrapper height equal to label line height
  list-style: none;
  text-align: center;
  cursor: pointer;

  &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;

    & + .taskWrapper__taskName {
      position: relative;
      transition: 0.3s;

      & .checkedSymbol {
        position: absolute;
        left: -10px;
        color: $font-color;

        & svg {
          transform: scale(0%);
          transition: 0.3s;
        }
      }
    }

    &:checked + .taskWrapper__taskName {
      padding-left: 10px;

      & .checkedSymbol {
        & svg {
          transform: scale(100%);
        }
      }
    }

    &:checked ~ .taskWrapper__checkmark {
      background-color: $blue-color;
      border: 2px solid $blue-color;
    }
  }

  // default checkbox replaced with div
  &__checkmark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid $font-color;
  }

  &__taskName {
    line-height: 50px;
    cursor: pointer;
  }
}

.textInputWrapper {
  position: relative;

  &__textInput {
    display: block;
    width: $text-input-width;
    margin: auto;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $font-color;
    outline: none;

    &:focus + .textInputWrapper__placeholder {
      top: -24px;
      font-size: $font-placeholder-big * 0.5;
    }
  }

  &__placeholder {
    position: absolute;
    top: -14px;
    left: 50%;
    z-index: -1;
    font-size: $font-placeholder-big;
    transform: translateX(-$text-input-width / 2);
    transition: all 0.3s;
  }
}

@media (max-width: $breakpoint-width-3) {
  .textInputWrapper {
    &__placeholder {
      font-size: $font-placeholder-small;
    }

    &__textInput {
      &:focus + .textInputWrapper__placeholder {
        font-size: $font-placeholder-small * 0.5;
      }
    }
  }

  .taskWrapper {
    width: 160px;
  }
}

@media (min-width: $breakpoint-width-2) {
  .hireUsForm__taskList {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a b b c"
      "d d e e"
      "f f f f";
    gap: $grid-gap;
    column-gap: normal 0 normal;
    justify-items: center;
    align-items: center;

    :nth-child(1) {
      grid-area: a;
    }
    :nth-child(2) {
      grid-area: b;
    }
    :nth-child(3) {
      grid-area: c;
    }
    :nth-child(4) {
      grid-area: d;
      justify-self: end;
      margin-right: $grid-gap / 4;
    }
    :nth-child(5) {
      grid-area: e;
      justify-self: start;
      margin-left: $grid-gap / 4;
    }
    :nth-child(6) {
      grid-area: f;
    }
  }
}
