.homeSection {
  position: absolute;
  color: $font-color;
  font-family: $font-family;
  width: 70vw;
  opacity: 1;
  transition: $animation-time-interval;

  @include scrollAnimations;

  &__up {
    height: 50vh;
  }
}

.upperPart {
  position: relative;
  padding-left: 10px;
  border-bottom: 2px solid;
  border-bottom-color: $font-color-dark;

  &__cosmonautImg {
    position: absolute;
    height: 400px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }

  &::before {
    position: absolute;
    bottom: -4px;
    left: 10px;
    width: 30px;
    height: 4px;
    background-color: $blue-color;
    content: "";
  }
}

.bottomPart {
  display: flex;
  padding-left: 10px;
  gap: 25px;

  &__element {
    opacity: 0.2;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }

    & h3 {
      margin: 20px 0 20px 0;
      text-transform: uppercase;
    }
  }
}

.hireUsButton--flexible {
  position: relative;
  top: 50px;
  background-color: transparent;
  color: $font-color;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 5px 10px;

  & img {
    vertical-align: text-top;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 90px;
    height: 100px;
    z-index: -1;
    left: 10px;
    top: -2px;
    height: 25px;
    background-color: $blue-color;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 90px;
    height: 100px;
    z-index: -1;
    left: 10px;
    top: -2px;
    height: 25px;
    background-color: $blue-color;
    transition: all 0.2s;
  }

  &:hover::before {
    left: -10px;
  }
}

.bigText {
  font-size: $font-big;
  line-height: 1;
  color: $font-color;
  font-weight: 900;
}

@media (max-width: $breakpoint-width-1) {
  .upperPart {
    &__cosmonautImg {
      transform: scale(90%);
    }
  }

  .bigText {
    font-size: $font-medium;
  }
}

@media (max-width: $breakpoint-width-2) {
  .bottomPart {
    flex-direction: column;
  }
}

@media (max-width: $breakpoint-width-3) {
  .upperPart {
    &__cosmonautImg {
      display: none;
    }
  }
}

@media (max-height: 750px) and (max-width: $breakpoint-width-3) {
  .homeSection {
    .upperPart {
      border: none;

      &::before {
        display: none;
      }
    }

    .bottomPart {
      display: none;
    }
  }
}
