@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sideNavigation {
  position: relative;
  min-width: 5vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: square;
  list-style-position: inside;

  &::before {
    // line in side navigation
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: $font-color-dark;
    z-index: -1;
  }
}

.sideNavListItem {
  &::marker {
    font-size: 6px;
    color: $font-color;
  }

  &__link {
    cursor: pointer;

    & span {
      display: none;
    }

    &::before {
      display: inline-block;
      content: attr(data-index);
      transform: translateY($nav-text-translate);
      color: $font-color-dark;
    }
  }

  &--active {
    &::marker {
      color: $blue-color;
    }

    & .sideNavListItem__link {
      & span {
        display: inline-block;
        padding-left: 20px;
        animation: fadeIn 0.8s;
        transform: translateY($nav-text-translate);
      }
      &::before {
        position: absolute;
        display: inline-block;
        transform: translateX(-45px) translateY($nav-text-translate);
        color: $font-color;
      }
    }
  }
}

@media (max-width: 1180px) {
  .sideNavigation {
    display: none;
  }
}
