@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sideNavigation {
  min-width: 5vw;
  height: 70vh;
  border-left: 2px solid $font-color-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: square;

  &__listItem {
    margin-left: 8px;
    transform: translateX(2px);

    &::marker {
      // ustawić content na mniejszy element
      // marginesy na minusie?
      content: "■";
      display: inline-block;
      vertical-align: middle;
      font-size: 5px;
      position: outside;
      color: $font-color;
      line-height: 5;
    }
  }

  &__link {
    border: none;
    background-color: transparent;
    color: $font-color;
    cursor: pointer;

    & span {
      display: none;
    }

    &--active span {
      line-height: 30px;
      display: inline;
      padding-left: 20px;
      animation: fadeIn 0.8s;
    }

    &::before {
      line-height: 30px;
      content: attr(data-index);
    }

    &--active::before {
      display: block;
      position: absolute;
      transform: translateX(-45px);
    }
  }
}
