$color-background: #0c0c0c;
$font-color: #fff;
$font-color-dark: #333;
$font-family: "Montserrat", sans-serif;
$blue-color: #0f33ff;
$light-blue-color: rgb(23, 105, 255);
$pink-color: #ea4c89;
$font-big: 68px;
$font-medium: 55px;
$font-small: 44px;
$decoration-size: 10px;
$text-input-size: 200px;
