$color-background: #0c0c0c;
$font-color: #fff;
$font-color-dark: #333;
$font-family: "Montserrat", sans-serif;
$blue-color: #0f33ff;
$light-blue-color: rgb(23, 105, 255);
$pink-color: #ea4c89;

$font-big: 68px;
$font-medium: 55px;
$font-small: 44px;
$font-placeholder-big: 30px;
$font-placeholder-small: 24px;

$decoration-size: 10px;
$text-input-width: 200px;
$nav-text-translate: 4px;

$animation-time-interval: 0.5s;

$breakpoint-width-0: 1180px;
$breakpoint-width-1: 900px;
$breakpoint-width-2: 766px;
$breakpoint-width-3: 600px;

$grid-gap: 8px;
