$text-vertical-margin: 20px;

.index1 {
  order: 1;
}
.index2 {
  order: 2;
}
.index3 {
  order: 3;
}
.index4 {
  order: 4;
}
.index5 {
  order: 5;
}

.workCaruzelaSection {
  position: absolute;
  color: $font-color;
  width: 70vw;
  height: 70vh;
  flex-grow: 1;
  opacity: 1;
  transition: $animation-time-interval;

  @include scrollAnimations;

  &__title {
    font-size: 30px;
    text-align: center;
    font-family: $font-family;
  }
}

.workElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  margin: 50px;

  &__img {
    width: 150px;
  }

  h3 {
    margin-top: $text-vertical-margin;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
  }

  &__text {
    text-align: center;
    display: none;
    max-width: 300px;
    margin: $text-vertical-margin 10px;
  }
}

.caruzela {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 400px;

  &__nextButton {
    padding: 16px;
    border: none;
    border-radius: 50%;
    background-color: $font-color-dark;
    cursor: pointer;
    &:nth-child(1) img {
      transform: rotate(180deg);
    }
  }

  &__workElement {
    height: 150px;
    transition: 0.3s;
    opacity: 1;

    &--fadedOut {
      opacity: 0;
    }

    &--active {
      height: 300px;

      .workElement__img {
        width: 300px;
      }

      h3 {
        opacity: 1;
      }

      .workElement__text {
        opacity: 1;
        display: block;
      }
    }
  }
}

@media (max-width: 900px) {
  .workElement {
    &__img {
      transform: scale(80%);
    }
  }
}

@media (max-width: 600px) {
  .workElement {
    &__img {
      display: none;
    }

    & h3 {
      display: none;
    }
  }
  .caruzela{
    &__workElement {
      &--active {
        .workElement__img {
          display: block;
        }

        h3 {
          display: inline;
        }
      }
    }
  }
  
  
}
