@import "variables";
@import "assets";

@import "header";
@import "homeSection";
@import "navigation";
@import "workCaruzelaSection";
@import "aboutSection";
@import "contactSection";
@import "hireUsSection";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $font-color;
}

body {
  margin: 0;
  background-color: $color-background;
}

.wrapper {
  max-width: 1700px;
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;

  &--minimalized {
    border: 5px solid $blue-color;
    transform-origin: left 50%;
    transform: translate(-200px, -100px) translateZ(-500px) scale(60%) rotateY(40deg);
  }
}

main {
  flex-grow: 1;
  max-width: 70vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh;
}
