.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header__titleElement {
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.header .hireUsButton {
  font-weight: 900;
  background-color: #0f33ff;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 6px 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__hamburgerWrapper {
  margin-left: auto;
  padding: 5px 10px;
  height: 24px;
  cursor: pointer;
}

.header__hamburgerBtn {
  width: 16px;
  height: 3px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.header__hamburgerBtn::after {
  -webkit-transform: translate(-4px, 5px);
          transform: translate(-4px, 5px);
  content: "";
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: white;
}

.header__hamburgerBtn::before {
  -webkit-transform: translate(-4px, -6px);
          transform: translate(-4px, -6px);
  content: "";
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: white;
}

.homeSection {
  display: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 70vw;
}

.homeSection__up {
  height: 50vh;
}

.upperPart {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid;
  border-bottom-color: #333;
}

.upperPart__cosmonautImg {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottomPart__element {
  margin: 20px 30px;
  opacity: 0.2;
  cursor: pointer;
}

.bottomPart__element:hover {
  opacity: 1;
}

.bottomPart__element h3 {
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

.hireUsButton--flexible {
  position: relative;
  top: 50px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.hireUsButton--flexible img {
  vertical-align: text-top;
}

.hireUsButton--flexible::after {
  display: block;
  content: "";
  position: absolute;
  width: 90px;
  height: 100px;
  z-index: -1;
  left: 10px;
  top: -2px;
  height: 25px;
  background-color: #0f33ff;
}

.hireUsButton--flexible::before {
  display: block;
  content: "";
  position: absolute;
  width: 90px;
  height: 100px;
  z-index: -1;
  left: 10px;
  top: -2px;
  height: 25px;
  background-color: #0f33ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hireUsButton--flexible:hover::before {
  left: -10px;
}

.bigText {
  font-size: 68px;
  line-height: 1;
  color: #fff;
  font-weight: 900;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sideNavigation {
  min-width: 5vw;
  height: 70vh;
  border-left: 2px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: square;
}

.sideNavigation__listItem {
  margin-left: 8px;
}

.sideNavigation__listItem::marker {
  color: #fff;
  font-size: 10px;
}

.sideNavigation__link {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.sideNavigation__link span {
  display: none;
}

.sideNavigation__link--active span {
  line-height: 30px;
  display: inline;
  padding-left: 20px;
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

.sideNavigation__link::before {
  line-height: 30px;
  content: attr(data-index);
}

.sideNavigation__link--active::before {
  display: block;
  position: absolute;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
}

.workCaruzelaSection {
  color: #fff;
  width: 70vw;
  height: 70vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.workCaruzelaSection__title {
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.caruzela {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caruzela__nextButton {
  padding: 16px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.caruzela__nextButton:nth-child(1) img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.caruzela__workElement {
  height: 150px;
}

.caruzela__workElement--active {
  height: 300px;
}

.caruzela__workElement--active .workElement__img {
  width: 300px;
}

.caruzela__workElement--active .workElement__text {
  display: block;
}

.workElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: 50px;
}

.workElement__img {
  width: 150px;
}

.workElement h3 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.workElement__text {
  text-align: center;
  display: none;
  max-width: 300px;
  margin: 20px 10px;
}

.index1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.index2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.index3 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.index4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.index5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.aboutSection {
  color: #fff;
}

.aboutSection__motto {
  position: relative;
  font-size: 55px;
  font-weight: 900;
}

.aboutSection__motto .span--in::after {
  content: "";
  position: absolute;
  top: 62px;
  left: 228px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #0f33ff;
}

.aboutSection__motto .span--dot {
  color: transparent;
}

.aboutSection__motto .span--dot::after {
  content: "";
  position: absolute;
  top: 246px;
  left: 210px;
  width: 9px;
  height: 9px;
  background-color: #0f33ff;
}

.aboutSection__motto::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 290px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #0f33ff;
}

.aboutSection__motto::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 160px;
  width: 0px;
  height: 0px;
  border-right: 10px solid #0f33ff;
  border-left: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.careerButton {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-size: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 5px;
}

.careerButton__arrow {
  height: 12px;
  padding-left: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.careerButton:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.aboutButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 10px;
      grid-template-rows: 1fr 10px;
      grid-template-areas: "pic1 pic2 pic3" "pic1Title pic2Title pic3Title";
  text-transform: uppercase;
}

.aboutButtons * {
  cursor: pointer;
}

.aboutButtons__pic1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic1;
}

.aboutButtons__pic1Title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pic1Title;
}

.aboutButtons__pic2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic2;
}

.aboutButtons__pic2Title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pic2Title;
}

.aboutButtons__pic3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pic3;
}

.aboutButtons__pic3Title {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: pic3Title;
}

.aboutButtonImg:hover + .aboutButtonTitle {
  -webkit-transform: translate(20px, 0px);
          transform: translate(20px, 0px);
}

.aboutButtonTitle {
  -webkit-transform: translate(20px, -10px);
          transform: translate(20px, -10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aboutButtonTitle:hover {
  -webkit-transform: translate(20px, 0px);
          transform: translate(20px, 0px);
}

.contactSection {
  position: relative;
}

.contactSection__mapImage {
  position: absolute;
  top: -20vh;
  left: -20vw;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

.contactSection__contactInfo {
  position: absolute;
  top: 0;
  right: 0;
}

.contactInfo {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c0c0c;
  -webkit-box-shadow: 0px 0px 20px #0c0c0c;
          box-shadow: 0px 0px 20px #0c0c0c;
}

.contactInfo p {
  margin: 10px;
}

.contactInfo ul {
  list-style: none;
  text-decoration: none;
}

.contactInfo li {
  background-color: #0f33ff;
  margin-bottom: 20px;
}

.contactInfo li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #0c0c0c;
}

.contactInfo .contactButton {
  text-align: center;
}

.contactInfo .contactButton--lightBlue {
  background-color: #1769ff;
}

.contactInfo .contactButton--pink {
  background-color: #ea4c89;
}

.hireUsSection__title {
  text-align: center;
  margin-bottom: 50px;
}

.hireUsForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 300px 100px 100px;
      grid-template-rows: 300px 100px 100px;
}

.hireUsForm__taskList {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin-bottom: 50px;
}

.hireUsForm__li {
  margin: 10px auto;
}

.hireUsForm__textInputWrapper1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.hireUsForm__textInputWrapper2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.hireUsForm__sendRequestButton {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  display: block;
  margin: auto;
}

.sendRequestButton {
  font-weight: 900;
  background-color: #0f33ff;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 6px 18px;
}

.taskWrapper {
  position: relative;
  width: 200px;
  height: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style: none;
  border: 2px solid #fff;
  text-align: center;
}

.taskWrapper__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.taskWrapper__checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.taskWrapper__taskName {
  line-height: 50px;
}

.textInputWrapper {
  position: relative;
}

.textInputWrapper__textInput {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

.textInputWrapper__placeholder {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background-color: #0c0c0c;
}

.wrapper {
  max-width: 1700px;
  margin: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 70vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh;
}
/*# sourceMappingURL=styles.css.map */