@import "variables";
@import "assets";

@import "header";
@import "homeSection";
@import "navigation";
@import "workCaruzelaSection";
@import "aboutSection";
@import "contactSection";
@import "hireUsSection";
@import "popupNavigation";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $font-color;
}

body {
  margin: 0;
  background-color: $color-background;
  perspective: 800px;
}

.mainPage {
  transition: 0.3s;

  &--minimalized {
    border: 5px solid $blue-color;
    transform-origin: 0% 50%;
    transform: rotateY(30deg);
  }
}

.wrapper {
  max-width: 1700px;
  margin: 0 5vw;
  display: flex;
  flex-wrap: wrap;
}

main {
  flex-grow: 1;
  max-width: 70vw;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh;
}
